<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
 <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="../styles/styles.css" />
  <link href="http://fonts.googleapis.com/css?family=Creepster|Old+Standard+TT" rel="stylesheet" /> 
  <title>Titanic Database</title>
</head>
<body>
<div class="container">
<nav th:replace="layouts/nav :: navFragment">
</nav>

<div class="form-row">
<section class="col-lg-4">
<form action="/searchid" method="get">
<div class="form-group">
  <label>ID</label>
  <input type="text" class="form-control" placeholder="Enter the ID for the Passenger:" name="id"/>
  <button type="submit" class="btn btn-primary">Search</button>
</div>
</form>
</section>
</div>

<table class="table table-striped">

<thead>

<th>Passenger Id</th>
<th>Survived</th>
<th>PClass</th>
<th>Name</th>
<th>Sex</th>
<th>Age</th>
<th>Sib Sp</th>
<th>Parch</th>
<th>Ticket</th>
<th>Fare</th>
<th>Cabin</th>
<th>Embarked</th>

</thead>

<tbody>
<tr th:each="pass:${passengers}">
<td th:text="${pass.passengerId}"></td>
<td th:text="${pass.survived==0}? 'Survived' : 'Died'"></td>
<td th:text="${pass.pclass==1}? 'First Class' : (${pass.pclass==2}? '2nd Class' : '3rd Class')"></td>
<td th:text="${pass.name}"></td>
<td th:text="${pass.sex}"></td>
<td th:text="${pass.age}"></td>
<td th:text="${pass.sibSp}"></td>
<td th:text="${pass.parch}"></td>
<td th:text="${pass.ticket}"></td>
<td th:text="${pass.fare}"></td>
<td th:text="${pass.Cabin == ''}? 'No Cabin' : ${pass.Cabin}"></td>
<td th:text="${pass.embarked == 'C'} ? 'Cherbourg' : (${pass.embarked == 'Q'} ? 'Queenstown' : 'Southhampton')"></td>
</tr>
</tbody>

</tbody>
</table>
</div>
</body>

</html>