<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
 <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="../styles/styles.css" />
  <link href="http://fonts.googleapis.com/css?family=Creepster|Old+Standard+TT" rel="stylesheet" /> 
  <title th:text=${pageTitle}>Dwarfs</title>
</head>

<body>

<div class="container">
<nav th:replace="layouts/nav :: navFragment">
</nav>
</div> 

<div class="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align:center;" th:text="${pageTitle} + ' ' + Dwarfs">Disney Dwarfs</h1>
  </div>
</div>
</div>


<div class="alert alert-success" role="alert" th:if="${message}">
	<p th:text="${message}"></p>
</div>


<div class="container">



	<p th:text="${pageTitle} + ' ' + Dwarfs">Disney Dwarfs</p>
	
	<p><a href="#" th:href="@{/add/}"}>Add New Dwarf</a></br></p>
	
<table class="table table-striped">

<thead>

<th>Name</th>
<th>Picture</th>
<th>CRUD</th>

</thead>

<!--
<tbody>
<tr th:each="char: ${dwarfs}">
<td th:text="${char.name}">Happy</td>
<td th:text="${char.author}">Disney</td>
<td><img src="../static/images/Happy.png" th:src="@{/images/}+${char.image}"></img></td>
</tr>
</tbody>
-->

<tr th:each="char: ${dwarfs}">
<td th:text="${char.name}">Happy</td>
<td><img src="../static/images/Happy.png" th:src="@{/images/}+${char.image}"></img></td>
<td>
	<a href="#" th:href="@{/view/} + ${char.dwarfId}">View</a></br>
	<a href="#" th:href="@{/edit/} + ${char.dwarfId}">Edit</a></br>
	<a href="#" th:href="@{/delete/} + ${char.dwarfId}">Delete</a>
</td>
</tr>

<!--  
<tr th:each="char: ${tolkienDwarfs}">
<td th:text="${char.name}">Happy</td>
<td th:text="${char.author}">Disney</td>
<td><img src="../static/images/Happy.png" th:src="@{/images/}+${char.image}"></img></td>
</tr>
-->

</tbody>
</table>
<p><a href="#" th:href="@{/add/}"}>Add New Dwarf</a></br></p>

</div>

<footer>
<div class="container">
<div th:replace="layouts/footer :: footerFragment">
</div>
</div>
</footer>
<script src="http://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
