<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
 <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="../styles/styles.css" />
  <link href="http://fonts.googleapis.com/css?family=Creepster|Old+Standard+TT" rel="stylesheet" /> 
  <title th:text=${pageTitle}>Dwarfs</title>
</head>

<body>
<div class="container">

<nav th:replace="layouts/nav :: navFragment">
</nav>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align:center;">Dwarfs Search</h1>
  </div>
</div>



<div class="form-row">
<section class="col">
<div class="search">
<div class="initialSelect">
<form>
  

    <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#IDSearch">ID</button>
    <button type="button" class="btn btn-primary"data-toggle="collapse" data-target="#NameSearch">Name</button>
    <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#AuthorSearch">Author</button>
 

</form>
</div>

<div id="IDSearch" class="collapse">
<form>
  
  <select name="IDSearch" class="custom-select">
    <option value="ID">ID</option>
    <option value="Name">Name</option>
    <option value="Author">Author</option>
  </select>

</form>
</div>

<div id="NameSearch" class="collapse">
<form>
  
  <select name="NameSearch" class="custom-select">
    <option value="ID">ID</option>
    <option value="Name">Name</option>
    <option value="Author">Author</option>
  </select>

</form>
</div>

<div id="AuthorSearch" class="collapse">
<form>
  
  <select name="AuthorSearch" class="custom-select">
    <option value="ID">ID</option>
    <option value="Name">Name</option>
    <option value="Author">Author</option>
  </select>

</form>

</div>

</div>
</section> 
</div>
</div>
</div>







</body>
</html>
