<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

  <link rel="stylesheet" href="../styles/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Creepster|Old+Standard+TT" rel="stylesheet"/>

  <link rel="stylesheet" href="../styles/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Creepster|Old+Standard+TT" rel="stylesheet"/>
 
  <title>Weather Database</title>
</head>

<body>

<div class="container">
	<nav th:replace="layouts/nav :: navFragment"></nav>

		
<form id="search-form" action="/weather/locationsearch" method="get">
	<div>For Which Region Would You Like To Know About The Weather?</div>
	<div class="form-group">
		<select name="category" class="browser-default custom-select">
			<option selected>Search by Location</option>
			<option value="London">London</option>
			<option value="Belfast">Belfast</option>
			<option value="Dublin">Dublin</option>
		</select>
	</div>
	<div class="form-group">
		<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
	</div>
</form>
 
<!-- Modal Opener Button -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  <p th:text="${pageTitle} + ' Weather'"></p>
  <img th:src="@{/images/} + ${image}"/>
</button>


</div>
	
	<!-- Modals -->
	

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" th:text="${pageTitle}"></h4>


        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>

      <!-- Modal body -->
      <div class="modal-body">
       	<ul>
       		<h5>Weather Description:</h5>
       		<li th:text="${todaysWeather.weather.description}"></li>
       		<h5>Temperature:</h5>
       		<li th:utext="${todaysWeather.weather.temperature} + '&#8451'"></li>
       		<h5>Pictogram:</h5>	

       		<li th:text="${todaysWeather.location.name}"></li>
       		<li th:text="${todaysWeather.weather.description}"></li>
       		<li th:text="${todaysWeather.weather.temperature}"></li>	

       		<li><img th:src="${todaysWeather.weather.image}"/></li>
       	</ul>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>

    </div>
  </div>
</div>
	
	<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>